{% macro displayNewsList(news_list) %}
  {% for news in news_list %}

  <div class="container-fluid">
      <div class="row">
          <div class="col-4">
              <div class="card">
                  <div class="card-header">
    <img src="{{ news.urlToImage }}" alt="{{ news.title }} "  class="img-responsive">
    <h3>{{news.title}}</h3>
    <p>content: {{news.content}}</p>
    <a href="{{news.url}}">Visit Site</a>
    <li class="text-center">
        <a href="/news/{{news.id}}">
            {{ news.title|truncate(10)}}</a>
    </li>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <li>{{ news.title}}</li>
 {% endfor %}

{% endmacro %}
